.header-main {
  background: $base;
  margin-bottom: 60px;
}
.header-main__top {
  background: #293449;
}
.header-main__top .container {
  position: relative;
  font-size: 0;
  padding: 0 0 0 230px;
}
.logo {
  position: absolute;
  top: 0;
  left: 10px;
  width: 220px;
  font: inherit;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  background-color: $red;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}
.logo__link {
  display: block;
  padding: 11px 40px 12px;
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: default;
}
.logo_inner .logo__link {
  display: block;
  padding: 11px 40px 12px;
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;

    &:hover {
      background-color: $red-hvr;
      box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    }

    &:active {
      background-color: $red-dwn;
      box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    }
}
.search {
  position: relative;
  @include inlineblock;
  width: 270px;
}
.icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -275px -5px;
  opacity: 0.3;
  transition: background-color 0.3s, opacity 0.3s;
}
.search__input {
  @include cuprum;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  width: 270px;
  outline: none;
  border: none;
  padding: 11px 12px 12px 47px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;

    &::placeholder {
      color: #ffffff;
    }

    &:hover {
      background-color: #212a3a;

      + .icon-search {
        opacity: 1;
      }
    }

    &:focus {
      background-color: #ffffff;

        &::placeholder {
          color: #000000;
        }

        & + .icon-search {
          background-position: -302px -5px;
          opacity: 1;
        }
    }
}
.bookmarks,
.bag {
  @include inlineblock;
  position: relative;
  width: 150px;
  font: inherit;
  font-size: 17px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
}
.bookmarks__link {
  display: block;
  font: inherit;
  color: inherit;
  text-decoration: none;
  padding: 11px 12px 13px 47px;
  transition: background-color 0.3s, opacity 0.3s;

    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: 17px;
      display: block;
      width: 14px;
      height: 16px;
      background-image: url("../../img/sprite.png");
      background-repeat: no-repeat;
      background-position: -32px -5px;
      opacity: 0.3;
      transition: background-color 0.3s, opacity 0.3s;
    }

        &:hover {
          background-color: #212a3a;
        }

        &:hover::after {
          opacity: 1;
        }

        &:active {
          background-color: #161d29;
          opacity: 0.6;
        }

        &:hover::after {
          opacity: 1;
        }

        &:active::after {
          opacity: 0.6;
        }
}
.bookmarks__result,
.bag__result {
  margin-left: 5px;
}
.bag__link {
  display: block;
  font: inherit;
  color: inherit;
  text-decoration: none;
  padding: 11px 12px 13px 47px;
  transition: background-color 0.3s, opacity 0.3s;

    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: 17px;
      display: block;
      width: 17px;
      height: 16px;
      background-image: url("../../img/sprite.png");
      background-repeat: no-repeat;
      background-position: -5px -5px;
      opacity: 0.3;
      transition: background-color 0.3s, opacity 0.3s;
    }

    &:hover {
      background-color: #212a3a;
    }

    &:hover::after {
      opacity: 1;
    }

    &:active {
      background-color: #161d29;
      opacity: 0.6;
    }

    &:hover::after {
      opacity: 1;
    }

    &:active::after {
      opacity: 0.6;
    }
}
.bag_active .bag__link {
  background-color: $red;

    &:hover {
      background-color: $red-hvr;
    }

    &:active {
      background-color: $red-dwn;
      opacity: 0.6;
    }
}

// ---------- BTN ----------- //
.btn {
  @include inlineblock;
  color: #000000;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 14px 20px 13px;
  transition: background-color 0.3s;
}
.header-main__top .btn_green {
  color: #ffffff;
  text-transform: none;
  background-color: $green;
  border-radius: 0;
  padding: 11px 21px 13px;

      &:hover {
        background-color: #5fbb2d;
      }

      &:active {
        opacity: 0.51;
        background-color: $green-dwn;
      }
}

// ---------- header-main ----------- //
.header-main__content {
  background-color: $base;
  padding: 46px 0 60px;
  text-align: left;
}
.header-main__content.container {
  margin-bottom: 45px;
  @extend %clearfix;
}
.header-main__title {
  float: left;
  width: 300px;
  @include cuprum(italic);
  color: $red;
  font-size: 16px;
  line-height: 23px;
  text-transform: none;
  margin: 0;
  padding: 4px 40px 0 63px;
}
.header-main__contacts {
  float: left;
  width: 300px;
  margin-left: 30px;
  margin-right: 20px;
}
.contacts__link {
  position: relative;
  display: block;
  width: 270px;
  font: inherit;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: $red;
  border: 3px solid white;
  padding: 11px 47px 10px 70px;
  cursor: pointer;
  transition: color 0.3s;

      &:hover {
        color: #000;
      }

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 12px;
        width: 19px;
        height: 19px;
        background-image: url("../../img/sprite.png");
        background-repeat: no-repeat;
        background-position: -228px -5px;
      }
}
.contacts__text {
  color: $dark-blue;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
  padding: 5px 0 0 9px;
}
.user-block {
  float: right;
  width: 300px;
  font-size: 0;
  margin-right: 10px;
}
.user-block__link {
  @include inlineblock;
  color: #000000;
  font: inherit;
  font-size: 21px;
  line-height: 18px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  padding: 14px 25px 11px;
  margin-left: 8px;
  transition: color 0.3s opacity 0.3s;

      &:hover {
        color: $red;
      }

      &:active {
        opacity: 0.3;
      }
}
.user-block__link_sign-in {
  position: relative;
  padding-left: 48px;


      &::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 7px;
        width: 20px;
        height: 17px;
        background-image: url("../../img/sprite.png");
        background-repeat: no-repeat;
        background-position: -329px -5px;
        opacity: 0.3;
        transition: opacity 0.3s;
      }

      &:hover::before {
        opacity: 1;
      }
}
.menu {
  clear: both;
  padding-top: 38px;
}
.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  background-image: linear-gradient(to top, #32425c 0%, #32425c 99%, #32425c 100%);
  box-shadow: inset 0 -5px 0 #293449;
}
.menu__item {
  @include inlineblock;
  font: inherit;
  font-size: 17px;
  color: #ffffff;
  text-transform: none;
}
.menu__link {
  display: block;
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: 21px 33.75px;
  transition: background-color 0.3s, opacity 0.3s;

      &:hover {
        background-color: #293449;
      }

      &:active {
        background-color: #1d2739;
        opacity: 0.5;
      }
}
// ---------- user-block__active ----------- //
.user {
  position: relative;
  background-color: #ffffff;
}
.user-block__link-name {
  display: block;
  width: 300px;
  padding: 14px 60px 11px 47px;
  color: inherit;
  font: inherit;
  font-size: 21px;
  line-height: 18px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      width: 20px;
      height: 18px;
      background-image: url("../../img/sprite.png");
      background-repeat: no-repeat;
      background-position: -329px -5px;
      opacity: 0.3;
      transition: opacity 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
}
.user-block__link-sign-out {
  font-size: 0;
  position: absolute;
  top: 13px;
  right: 13px;
  display: block;
  width: 20px;
  height: 17px;
  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -198px -5px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.3;
      }
}
.user-block__link-order {
  @include inlineblock;
  position: relative;
  font: inherit;
  color: $dark-blue;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  padding: 10px 20px 5px 18px;
  padding-right: 20px;
  transition: color 0.3s, opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 17px;
        right: 0;
        display: block;
        width: 4px;
        height: 3px;
        background-color: $dark-blue;
        border-radius: 50%
      }

      &:hover {
        color: $red;
      }

      &:active {
        color: $dark-blue;
        opacity: 0.3;
      }
}
.user-block__link-login {
  @include inlineblock;
  font: inherit;
  color: $dark-blue;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  padding: 10px 20px 5px 12px;
  transition: color 0.3s, opacity 0.3s;

      &:hover {
        color: $red;
      }

      &:active {
        color: $dark-blue;
        opacity: 0.3;
      }
}






// ---------- Sprite ----------- //
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

// .sprite--icon-basket {
//     width: 17px;
//     height: 16px;
//     background-position: -5px -5px;
// }

// .sprite--icon-bookmark {
//     width: 14px;
//     height: 16px;
//     background-position: -32px -5px;
// }

// .sprite--icon-check-off {
//     width: 23px;
//     height: 23px;
//     background-position: -56px -5px;
// }

// .sprite--icon-check-on {
//     width: 27px;
//     height: 23px;
//     background-position: -89px -5px;
// }

// .sprite--icon-fb {
//     width: 10px;
//     height: 18px;
//     background-position: -126px -5px;
// }

// .sprite--icon-home {
//     width: 15px;
//     height: 12px;
//     background-position: -146px -5px;
// }

// .sprite--icon-in {
//     width: 17px;
//     height: 17px;
//     background-position: -171px -5px;
// }

// .sprite--icon-login {
//     width: 20px;
//     height: 17px;
//     background-position: -198px -5px;
// }

// .sprite--icon-phone {
//     width: 19px;
//     height: 19px;
//     background-position: -228px -5px;
// }

// .sprite--icon-right {
//     width: 8px;
//     height: 12px;
//     background-position: -257px -5px;
// }

// .sprite--icon-search {
//     width: 17px;
//     height: 17px;
//     background-position: -275px -5px;
// }

// .sprite--icon-search-focus {
//     width: 17px;
//     height: 17px;
//     background-position: -302px -5px;
// }

// .sprite--icon-user {
//     width: 20px;
//     height: 18px;
//     background-position: -329px -5px;
// }

// .sprite--icon-vk {
//     width: 20px;
//     height: 12px;
//     background-position: -359px -5px;
// }

