doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title ТЕХНОМАРТ - КАТАЛОГ
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="keywords" content="разные, ключевые, слова")
    meta(name="description" content="краткое описание сайта")
    meta(name="author" content="ainshtein")
    link(rel="stylesheet" href="css/main.css")
  body
    header.header-main
      div.header-main__top
        div.container
          div.logo.logo_inner
            a.logo__link(href="index.html") Техномарт
          div.search
            form(action="https://echo.htmlacademy.ru" method="get")
              input.search__input(type="text" name="search-text" id="search-text-field" placeholder="Поиск:" maxlength="30")
              span.icon-search
          div.bookmarks
            a.bookmarks__link(href="#") Закладки:
              span.bookmarks__result 0
          div.bag.bag_active
            a.bag__link(href="#") Корзина:
              span.bag__result 10
          a.btn.btn_green(href="#") Оформить заказ
      div.header-main__content.container
        h2.header-main__title Интернет-магазин строительных материалов и инструментов для ремонта
        div.header-main__contacts
          a.contacts__link(href="tel:+78125550555") +7 (812) 555-05-55
          p.contacts__text г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
        div.user-block
          div.user-block__active
            div.user
              a.user-block__link-name(href="#")
                span.user-name-current Равшан Джамшутович
                a.user-block__link-sign-out Выйти
            a.user-block__link-order(href="#") Мои заказы
            a.user-block__link-login(href="#") Личный кабинет
        nav.menu
          div.container
            ul.menu__list
              li.menu__item
                a.menu__link(href="index.html") Главная
              li.menu__item
                a.menu__link(href="#") Компания
              li.menu__item
                a.menu__link Каталог
              li.menu__item
                a.menu__link(href="#") Новости
              li.menu__item
                a.menu__link(href="#") Спецпредложения
              li.menu__item
                a.menu__link(href="#") Доставка
              li.menu__item
                a.menu__link(href="#") Контакты
    main.catalog
      div.container
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link_home(href="#") Домой
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Каталог
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Инструмент
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link_active Перфораторы
        h2.content__title Перфораторы
        aside.catalog__filter
          div.filter
            form(action="https://echo.htmlacademy.ru" method="post")
              h3.filter__heading Фильтр:
              fieldset.filter__group
                legend.filter__title Цена:
                div.range
                  div.range__control
                    div.range__scale
                      div.range__bar Шкала
                    div.range__toggle.range__toggle_min Переключатель минимум
                    div.range__toggle.range__toggle_max Переключатель максимум
                  div.range__fields
                    label.range__label.range__label_left(for="price-min-field") от
                    input.range__input.range__input_left(type="text" name="price-min" id="price-min-field" value="0" maxlength="9")
                    label.range__label.range__label_right(for="price-max-field") до
                    input.range__input.range__input_right(type="text" name="price-max" id="price-max-field" value="30000" maxlength="9")
              fieldset.filter__group.producer
                legend.filter__title Производители
                input.filter__checkbox(type="checkbox" name="bosch" id="bosch-field" checked)
                label.filter__label(for="bosch-field") Bosh
                input.filter__checkbox(type="checkbox" name="interskol" id="interskol-field")
                label.filter__label(for="interskol-field") Интерскол
                input.filter__checkbox(type="checkbox" name="makita" id="makita-field")
                label.filter__label(for="makita-field") Makita
                input.filter__checkbox(type="checkbox" name="dewalt" id="dewalt-field" checked)
                label.filter__label(for="dewalt-field") Dewalt
                input.filter__checkbox(type="checkbox" name="hitachi" id="hitachi-field")
                label.filter__label(for="hitachi-field") Hitachi
              fieldset.filter__group.power
                legend.filter__title Питание:
                input.filter__radio(type="radio" name="power" id="puncher-battery-field" value="battery" checked)
                label.filter__label(for="puncher-battery-field") Аккумуляторные
                input.filter__radio(type="radio" name="power" id="puncher-net-field" value="networking")
                label.filter__label(for="puncher-net-field") Сетевые
              button.btn.btn_submit(type="submit") Показать
        div.catalog__wrapper
          div.catalog__sorting
            ul.sorting
              li.sorting__item Сортировка:
              li.sorting__item
                a.sorting__link.sorting__link_active По цене
              li.sorting__item
                a.sorting__link(href="#") По типу
              li.sorting__item
                a.sorting__link(href="#") По функционалу
              li.sorting__item
                a.sorting__link-arrow.sorting__link_down.sorting__link-arrow_active(href="#") сортировать по убыванию
                a.sorting__link-arrow.sorting__link_up(href="#") сортировать по возрастанию
          div.catalog__content
            div.product
              div.product__picture
                img.product__imgage(src="img/bosh-bfg-3000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 3000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 3000
              div.old-price 25500 р.
              div.product__price 15500 р.
            div.product
              div.product__picture
                img.product__imgage(src="img/bosh-bfg-6000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 6000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 6000
              div.old-price 30500 р.
              div.product__price 25500 р.
            div.product
              div.product__picture.product__picture_new
                img.product__imgage(src="img/bosh-bfg-2000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 2000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 2000
              div.old-price
              div.product__price 12500 р.
            div.product
              div.product__picture
                img.product__imgage(src="img/bosh-bfg-3000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 3000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 3000
              div.old-price 25500 р.
              div.product__price 15500 р.
            div.product
              div.product__picture
                img.product__imgage(src="img/bosh-bfg-6000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 6000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 6000
              div.old-price 30500 р.
              div.product__price 25500 р.
            div.product
              div.product__picture.product__picture_new
                img.product__imgage(src="img/bosh-bfg-2000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 2000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 2000
              div.old-price
              div.product__price 12500 р.
            div.product
              div.product__picture
                img.product__imgage(src="img/bosh-bfg-3000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 3000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 3000
              div.old-price 25500 р.
              div.product__price 15500 р.
            div.product
              div.product__picture
                img.product__imgage(src="img/bosh-bfg-6000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 6000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 6000
              div.old-price 30500 р.
              div.product__price 25500 р.
            div.product
              div.product__picture.product__picture_new
                img.product__imgage(src="img/bosh-bfg-2000.jpg" height="168" width="218" alt="Перфоратор BOSCH BFG 2000")
                div.product__buy
                  a.btn-buy.btn.btn_green(href="#") Купить
                  a.btn.btn_border-green(href="#") В закладки
              h3.product__title Перфоратор BOSCH BFG 2000
              div.old-price
              div.product__price 12500 р.
            ul.pagination
              li.pagination__item
                a.pagination__link.pagination__link_current 1
              li.pagination__item
                a.pagination__link(href="#") 2
              li.pagination__item
                a.pagination__link(href="#") 3
              li.pagination__item
                a.pagination__link.pagination__link_last(href="#") Следующая
      article.catalog__description
        div.container
          h1.catalog__description-title ПАРА СЛОВ О ПЕРФОРАТОРАХ
          p.catalog__description-text.
            Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне. Существуют электромеханические и невматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.
    footer.footer-main
      div.footer-main__top
        div.container
          div.footer-main__top_left
            div.footer-logo Техномарт
            p.footer-contacts г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55
          div.footer-main__top_right
            div.footer-nav-top
              ul.footer-nav-top__list
                li.footer-nav-top__item
                  a.footer-nav-top__link Компания
                li.footer-nav-top__item
                  a.footer-nav-top__link Новости
                li.footer-nav-top__item
                  a.footer-nav-top__link Каталог
                li.footer-nav-top__item
                  a.footer-nav-top__link Доставка
                li.footer-nav-top__item
                  a.footer-nav-top__link Контакты
            div.footer-nav-bottom
              ul.footer-nav-bottom__list
                li.footer-nav-bottom__item
                  a.footer-nav-bottom__link Материалы
                li.footer-nav-bottom__item
                  a.footer-nav-bottom__link Техника
                li.footer-nav-bottom__item
                  a.footer-nav-bottom__link Инструмент
                li.footer-nav-bottom__item
                  a.footer-nav-bottom__link Спецпредложения
      div.footer-main__bottom
        div.container
          div.copyright &copy; 2010–2016 Компания «Техномарт» Все права защищены
          div.socials
            a.socials__link.socials__link_vk(href="#") Вконтакте
            a.socials__link.socials__link_fb(href="#") Фейсбук
            a.socials__link.socials__link_in(href="#") Инстаграм
          div.email Обратная связь:
            a.email__link(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          div.design Разработано -
            a.design__link(href="https://htmlacademy.ru/" target="_blank") htmlacademy.ru
    div#modal-bag.modal-bag
      button.modal-content__close(type="button" title="Закрыть") Закрыть
      div.modal-bag__text-block
        div.modal-bag__title Товар добавлен в корзину!
          span.modal-bag__decoration
      div.modal-bag__btn-block
        a.btn.btn_red.btn_big(href="#") Оформить заказ
        a.btn.btn_white.btn_big(href="#") Продолжить покупки

    script(src="js/main.js")

