doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title ТЕХНОМАРТ
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="keywords" content="разные, ключевые, слова")
    meta(name="description" content="краткое описание сайта")
    meta(name="author" content="ainshtein")
    link(rel="stylesheet" href="css/main.css")
    //- script(defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(defer src="js/main.js")
  body













